
.avanceCategoria{
    height:1700px; 
}

.avanceCategoria-title h1{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom:20 ;
    color: black;
}
@media screen and (max-width:599px){
    .avanceCategoria-title h1{
        font-size:2rem
    }
    .avanceCategoria{
        height: 1590px;
    }
}

