
.avanceCategoria__dama-cards{
    width: 1400px;
    display: block;
    align-items: center;
    justify-content: center;
    height: 580px;
    background-color: none;
    position: relative;
    padding-top: 20px;
    color: black;
    overflow: hidden;
    border-radius:20px;


    .slick-dots {
        li{
            display: none;
        }
    }//contenedor de cuantos contenidos hay y son tambien botones en pie de pagina

    .slick-track{
        padding:30px;
        height:600px;
    }

    button{
        top: 40%;
        &::before{
            color:black;
            position: absolute;
            opacity: 0.2;
        }
        &:hover{
            opacity: 1;
        }
    }
    .slick-prev{
        left:0%;
        z-index: 9;
    }
    .slick-arrow.slick-next{
        right:1.5%;
        z-index: 9999;
    }
}//contenedor principal de las cards

@media screen and (max-width:1500px){
    .avanceCategoria__dama-cards{    
        .slick-prev{
            left:1%;
            z-index: 9;
        }
        .slick-arrow.slick-next{
            right:1.5%;
          
    }
}
}

@media screen and (max-width:1300px){
    .avanceCategoria__dama-cards{    
        .slick-prev{
            left:1%;
            z-index: 9;
        }
        .slick-arrow.slick-next{
            right:1.5%;
            z-index: 9999;
        }
    }
}
@media screen and (max-width:1260px){
    .avanceCategoria__dama-cards{    
        .slick-prev{
            left:1.5%;
            z-index: 9;
        }
        .slick-arrow.slick-next{
            right:0.8%;
            z-index: 9999;
        }
    }
}

@media screen and (max-width:600px){
    .avanceCategoria__dama-cards{    
        .slick-arrow.slick-next{
            right:5%;
            z-index: 9999;
        }
    }   
    
}