.Empresaria{
    height:1300px;
    overflow: hidden;

}
.Empresaria__title {
    margin: 10px 0px;
    h1{
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
    }
}

.Empresaria__description{
    width: 100%;
    height: 500px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

//contenedorde para exitosa empresaria para cambiar la direccion
.MuiGrid-root.exitosa.MuiGrid-container{
    justify-content: center;
}

//contenedorde para premios empresaria para cambiar la direccion
.MuiGrid-root.premios.MuiGrid-container{
    justify-content: center;
}


.Empresaria__description h1{
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    width: 80%;
    color: black;
}
.Empresaria__description-p{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    width: 80%;
    font-size:1rem;
    margin: 20px 0PX 25px 0px;
    font-size: 1rem;
    line-height: 1.4;
    color:black;
}

.Empresaria__img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Empresaria__img svg {
    width: 100% !important;
    height: 400px !important;
}

@media screen and (max-width:600px) {
    //contenedorde para premios empresaria para cambiar la direccion
    .MuiGrid-root.premios.MuiGrid-container{
        flex-direction: column-reverse;
    }
    .Empresaria__img {
        justify-content: flex-start;
    }
    .Empresaria{
        height:2400px;
    }
}
@media screen and (max-width:600px) {
    .Empresaria{
        margin-top: 50px;
        height:1500px;
    }

    .Empresaria__img {
        justify-content: flex-start;
    }
    .Empresaria__description{
        height: 400px; 
        h1{
            font-size:1.2rem
        }
    }
    .Empresaria__img {
        width: 100% !important;
        height: 250px !important;

    }

    .Empresaria__title {
    
        h1{
            width: 100%;
            text-align: center;
            font-size: 2rem;
            color: black;
        }
    }
}